/* All Views */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    margin-bottom: 5rem;
}
.header__record {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.header__nav {
    display: flex;
    justify-content: space-around;
}

/* Homepage View */

.homepage__mainSection {
    display: flex;
    justify-content: space-around;
}

.homepageartist__picture, .homepagealbum__picture, .homepagesong__picture {
    width: 300px;
    height: 300px;
}

.homepageartist, .homepagealbum, .homepagesong {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Artists View */

.artists__mainSection {
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.artists__wrapper {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 2rem;
}

.artists__singleArtistPicture {
    width: 300px;
    height: 300px;
}

/* Albums View */

.albums__singleArtistSection {
    margin: 2rem;
}
.albums__singleArtistAlbums {
    display: flex;
    justify-content: space-around;
}

.albums__singleAlbumPicture {
    width: 300px;
    height: 300px;
}

/* Songs View */

.songs__allSongs {
    margin-top: 2rem;
    margin-left: 5rem;
}

/* Single Artist View */

.singleArtistSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

.singleArtist__figure {
    grid-row-start: 1;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    margin: 1rem auto;
}

.singleArtist__album {
    margin: 1rem auto;
}

.singleArtist__picture {
    height: 500px;
    width: 500px;
}

.singleArtist__albumPicture {
    height: 300px;
    width: 300px;
}

/* Single Album View */

.singleAlbumSection {
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.singleAlbum__picture {
    height: 500px;
    width: 500px;
    margin: 1rem auto;
}